<div class="page-media page-container">
  <div class="events-carousel-container" *ngIf="media">
    <h1 class="page-title">Media</h1>

    <div class="loader" *ngIf="!loaded"></div>

    <div class="card" *ngFor="let m of media">
      <img [src]="m.thumbnail" [alt]="m.title" class="card-img-top">
      <div class="card-bar text-center">
        <div class="publication-name">
          <strong>{{m.name}}</strong>
        </div>
        <div class="publication-date">
          <strong>{{m.date}}</strong>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHTML]="m.content"></div>
        <h3 class="card-title" [innerHTML]="m.title"></h3>
        <a [href]="m.url" class="btn btn-primary btn-block btn-lg" target="_blank" rel="nofollow">More</a>
      </div>
    </div>
  </div>
</div>
