<div class="page-experience-detail page-container">

  <div class="top-pagination">
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline btn-lg back-button" [disabled]="!canBack" (click)="goBack()">
        <i class="fas fa-caret-left"></i>
      </button>
      <a routerLink="/experiences" class="btn btn-outline btn-lg back-button">Experiences</a>
      <button class="btn btn-outline btn-lg next-button" [disabled]="!canNext" (click)="goNext()">
        <i class="fas fa-caret-right"></i>
      </button>
    </div>
  </div>

  <div class="card" *ngIf="experience">
    <img [src]="experience.featured_image" [alt]="experience.title" class="card-img-top">
    <div class="card-bar text-center">
        <h3 class="card-title">{{experience.title}}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{experience.content}}</p>
    </div>
  </div>
</div>
