<div class="sidemenu">
  <mat-toolbar color="primary">Menu</mat-toolbar>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/team" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/experiences" routerLinkActive="active">Experiences</a>
    </li>
    <li>
      <a routerLink="/happenings" routerLinkActive="active">Happenings</a>
    </li>
    <li>
      <a routerLink="/crowd" routerLinkActive="active">Crowd</a>
    </li>
    <li>
      <a routerLink="/media" routerLinkActive="active">Media</a>
    </li>
    <li>
      <a routerLink="/news" routerLinkActive="active">News</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </li>
  </ul>
</div>
