.sidemenu {
  ul {
    margin: 0;
    li {
        border-bottom: 1px solid rgba(0,0,0,.12);
      a {
        padding: 10px 16px;
        display: block;
        color: #000;
        outline: none;
        text-decoration: none;
      }
    }
  }
}
