<h1 class="page-title">Team</h1>
<div class="members-list">
  <div class="card" *ngFor="let t of team">
    <img *ngIf="t._embedded && t._embedded['wp:featuredmedia'] && t._embedded['wp:featuredmedia'].length > 0"
      [src]="t._embedded['wp:featuredmedia'][0].source_url" class="card-img-top">
    <div class="card-body">
      <h3 class="card-title">
        {{t.title.rendered}}
      </h3>
      <div class="card-title">
        <strong>{{t.position}}</strong>
      </div>
      <div class="card-text" [innerHTML]="t.content.rendered"></div>
    </div>
  </div>
</div>
