<div class="page-experiences page-container">
  <div class="experiences-list" *ngIf="experiences && experiences.length > 0">
    <div *ngFor="let exp of experiences" class="experience card" [style.background-image]="'url(' + exp.thumbnail + ')'">
      <a [routerLink]="['/', 'experiences', exp.name]">
        <span>{{exp.title}}</span>
      </a>
    </div>
  </div>
</div>
