@import "~src/assets/css/variables.scss";

:host {
  padding: 0 0 30px;
  .experience {
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 0 10px;
    a {
      display: block;
      width: 100%;
      height: 19vh;
      position: relative;
    }
    span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    }
  }
}

@media screen and (orientation: landscape) {
  :host .experience a {
    height: 140px;
  }
}
