<header class="site-header clearfix">
  <a routerLink="/home" class="logo">
    <img src="assets/img/logo.png" />
  </a>
  <div class="toggle-menu">
    <a href="javascript:void(0);" (click)="clickToggleMenu()">
        <i class="fas fa-bars"></i>
    </a>
  </div>
  <a routerLink="/" class="home-link" *ngIf="showHomeLink">
    <img src="assets/img/home.svg" />
  </a>
</header>
