:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .logo {
    margin: 15px 20px;
    height: 60px;
    float: left;
    img {
      height: 100%;
    }
  }
  .home-link {
    margin: 24px 20px 0 0;
    height: 29px;
    float: right;
    img {
      height: 29px;
    }
  }
  .toggle-menu {
    float: right;
    margin: 15px 20px 0 0;
    width: 28px;
    height: 32px;
    box-sizing: content-box;
    a {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2em;
      outline: none;
      color: #fff;
    }
  }
}
