<div class="page-contact page-container">
  <h1 class="page-title">Contact Us</h1>
  <div class="card">
    <div class="card-body">
      <h3>ADDRESS</h3>

      <p class="card-text">
        129/129 Petchkasem Road,
        <br />Nong Gae Sub-District, Hua Hin District
        <br />Prachuapkhirikhan 77110
        <br />Thailand
      </p>

      <h3>
        Opening Time
      </h3>

      <p class="card-text">Opening Hours:<br>
        Monday - Thursday 5.00 PM - 12.00 AM (Midnight)<br>
Friday - Saturday 5.00 PM to 1.00 AM <br>
Sunday 10.00 AM - 12.00 AM (Midnight) 
      </p>


      <p>
        <a href="tel:032809999" class="btn btn-primary btn-lg btn-block">Call us</a>
        <a href="mailto:reservation@vananavasky.com" class="btn btn-primary btn-lg btn-block">Send Mail</a>
      </p>
    </div>
  </div>
</div>
