.post {
  margin: 15px auto;
  .author-picture {
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
  .author-name {
      flex: 1 1 auto;
      margin: 0 10px;
  }
  .network-name {
      font-size: 1.5em;
      line-height: 0.8em;
  }
  video {
      width: 100%;
      height: auto;
  }
}

.loader {
    margin: 30px auto;
}