<div class="page-crowd page-container">

  <h1 class="page-title">Crowd</h1>

  <div *ngIf="loaded && posts && posts.length > 0" class="posts-list">

    <div class="post card" *ngFor="let post of posts">
      <div class="card-body">

        <div class="d-flex align-items-center">
          <div class="author-picture">
            <img [src]="post.author_picture" />
          </div>
          <div class="author-name">{{post.author_name | truncate: authorNameLength }}</div>
          <div class="network-name">
            <i class="fab fa-{{post.network_name}}"></i>
          </div>
        </div>

      </div>

      <div class="post-container">
        <img [src]="post.media" class="post-media" *ngIf="post.media_type != 'video'" />

        <div *ngIf="post.media_type == 'video'" class="video-container">
          <video *ngIf="post.network_name != 'youtube'" controls [poster]="post.media" controlsList="nodownload">
            <source [src]="post.video_resource_url" type="video/mp4" />
          </video>

          <iframe style="width: 100%; height: 66vw;" *ngIf="post.network_name == 'youtube'" [src]="post.video_resource_url" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>

  <div class="loader" *ngIf="loading"></div>

  <div class="card" *ngIf="loaded && (!posts || posts.length <= 0)">
    <h3 class="card-title">No new moment.</h3>
    <div class="card-body">
      <p class="card-text">There is no content right now.</p>
    </div>
  </div>
</div>
