@import "~src/assets/css/variables";
@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 15px #fff;
  }
  50% {
    box-shadow: 0 0 30px #fff;
  }
  100% {
    box-shadow: 0 0 15px #fff;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../img/page-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25em;
}

/*= Bootstrap
========================*/

.btn {
  border-radius: 0;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn-outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

*[class*="btn-outline"] {
  box-shadow: none;
}

.card {
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 0 0 20px;
  &:last-child {
    margin: 0;
  }
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-bar {
  padding: 1.25rem;
  background-color: $color-primary;
  color: #fff;
  .card-title {
    margin-bottom: 0;
    font-size: 1.5em;
  }
}

/*= Angular Material
========================*/

.mat-progress-spinner,
.mat-spiner {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $color-primary;
}

.mat-toolbar.mat-primary {
  background-color: $color-primary;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: block;
  padding-top: 10px;
}

#main-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  touch-action: none;
  z-index: 4;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-primary;
}

.owl-stage {
  touch-action: none;
}

.loader {
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 30px #fff;
  width: 104px;
  height: 104px;
  animation: blink 1s infinite;
  margin: 30px auto;
  &::after {
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background-color: transparent;
    background-image: url(../img/loader.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  .scroll-content {
    margin: 90px 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
  }
}

.sidemenu {
  width: 300px;
}

.page-title {
  color: #fff;
  text-align: center;
  margin: 0 auto 0.25em;
  text-transform: uppercase;
  font-weight: bold;
}

.top-pagination {
  margin: 0 0 30px;
}

.home-video-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #096295;
}

.cta-box {
  margin: 10px auto;
  .btn-call {
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    width: 60px;
    text-align: center;
    display: block;
    flex: 0 0 auto;
    margin: 0 10px 0 0;
    img {
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto 2px;
    }
  }
}
