<mat-sidenav-container id="main-container">
  <mat-sidenav #sidenav position="end">
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [showHomeLink]="!isHome"></app-header>
    <iframe class="home-video-bg" [src]="backgroundUrl" *ngIf="isHome"></iframe>
    <div class="content">
      <div class="scroll-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
