<div class="home-buttons">
  <a routerLink="/home" class="btn btn-outline full btn-lg btn-block">More</a>
  <div class="cta-box d-flex justify-content-between align-items-center">
    <a href="tel:032809999" class="btn-call">
      <img src="assets/img/telephone.svg" />
      <span>Call Us</span>
    </a>
    <a [href]="reservationLink" class="btn btn-primary btn-lg btn-block" target="_blank">Make a Reservation</a>
  </div>
</div>
