<div class="page-media page-container">
  <div class="events-carousel-container" *ngIf="press">
    <h1 class="page-title">News</h1>

    <div class="loader" *ngIf="!loaded"></div>

    <div class="press-wrapper" *ngIf="loaded">
      <div class="card" *ngFor="let p of press">
        <div class="card-body">
          <h3 class="card-title" [innerHTML]="p.title"></h3>
          <div class="card-text press-date">{{p.date}}</div>
          <a [href]="p.url" class="btn btn-primary btn-block btn-lg" target="_blank" rel="noopener">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
