.events-carousel-container {
  margin: 30px auto;
  .carousel-item {
    text-align: center;
  }
  .event-image {
    display: block;
    width: 100%;
    height: 55vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (orientation: landscape) {.events-carousel-container {
  .event-image {
    height: 32vh;
  }
}
}