<div class="page-happenings-detail page-container">

  <div class="top-pagination">
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline btn-lg back-button" [disabled]="!canBack" (click)="goBack()">
        <i class="fas fa-caret-left"></i>
      </button>
      <a routerLink="/happenings" class="btn btn-outline btn-lg back-button">Happenings</a>
      <button class="btn btn-outline btn-lg next-button" [disabled]="!canNext" (click)="goNext()">
        <i class="fas fa-caret-right"></i>
      </button>
    </div>
  </div>

  <div class="card" *ngIf="event">
    <img [src]="event.featured_image" [alt]="event.title" class="card-img-top">
    <div class="card-bar text-center">
      <h2 class="card-title">{{event.title}}</h2>
    </div>
    <div class="card-body">
      <div class="event-datetime" *ngIf="!event.repeat">
        <h6 class="card-text event-date-field">
          <span class="event-date-label">
            <i class="far fa-calendar-alt"></i>
            Start:
          </span>
          <span class="event-specific-datetime">
            {{event.start_date}}&nbsp;&nbsp;&nbsp;{{event.start_time}}
          </span>
        </h6>
        <h6 class="card-text event-date-field">
          <span class="event-date-label">
            <i class="far fa-calendar-alt"></i>
            End:
          </span>
          <span class="event-specific-datetime">
            {{event.end_date}}&nbsp;&nbsp;&nbsp;{{event.end_time}}
          </span>
        </h6>
      </div>
      <div class="event-datetime" *ngIf="event.repeat">
        <h6 class="card-text event-date-field">
          <span class="event-repeat-datetime">
            <i class="far fa-calendar-alt"></i>
            {{event.repeat.text}}
          </span>
        </h6>
      </div>
      <p class="card-text" [innerHTML]="event.content"></p>
      <p class="text-center">
        <a [href]="reservationLink" class="btn btn-primary btn-lg btn-block reservation-button" target="_blank">Make a reservation</a>
      </p>
    </div>
  </div>

</div>
