.event-date-field {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.event-date-label {
  width: 80px;
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  i {
    margin: 0 20px 0 0;
  }
}

.event-datetime {
  display: block;
  margin: 0 0 30px;
  i {
    margin: 0 10px 0 0;
  }
}

.reservation-button {
  margin: 20px 0 0;
}

.hide {
  opacity: 0;
}
