<div class="page-happenings page-container">
  <div class="events-carousel-container" *ngIf="events">
    <h1 class="page-title">Happenings</h1>

    <app-carousel id="events-carousel" class="owl-carousel owl-theme" [options]="carouselOptions">
      <a *ngFor="let item of events; let i = index" [routerLink]="['/', 'happenings', i + 1]" [style.background-image]="'url(' + item.featured_image + ')'"
        class="event-image">
        <span class="sr-only">{{item.title}}</span>
      </a>
    </app-carousel>
  </div>
</div>
