<div class="page-home">

  <div class="events-carousel-container" *ngIf="loaded && events">
    <h1 class="page-title">Upcoming</h1>

    <app-carousel id="events-carousel" class="owl-carousel owl-theme" [options]="carouselOptions">
      <a *ngFor="let item of events; let i = index" [routerLink]="['/', 'happenings', i + 1]" [style.background-image]="'url(' + item.featured_image + ')'"
        class="event-image">
        <span class="sr-only">{{item.title}}</span>
      </a>
    </app-carousel>
  </div>

  <div class="loader" *ngIf="!loaded"></div>

  <div class="thumbnail-list clearfix">
    <a routerLink="/experiences" class="thumbnail-link experiences" [style.background-image]="'url(assets/img/experiences.png)'">
      <span class="thumbnail-text">Experiences</span>
    </a>
    <a routerLink="/happenings" class="thumbnail-link happenings" [style.background-image]="'url(assets/img/happenings.png)'">
      <span class="thumbnail-text">Happenings</span>
    </a>
    <a routerLink="/crowd" class="thumbnail-link crowd" [style.background-image]="'url(assets/img/crowd.png)'">
      <span class="thumbnail-text">Crowd</span>
    </a>
  </div>
  <a [href]="mapUrl" class="btn btn-outline full btn-lg btn-block" target="_blank">Find Us</a>
  <div class="cta-box d-flex justify-content-between align-items-center">
    <a href="tel:032809999" class="btn-call">
      <img src="assets/img/telephone.svg" />
      <span>Call Us</span>
    </a>
    <a [href]="reservationLink" class="btn btn-primary btn-lg btn-block" target="_blank">Make a Reservation</a>
  </div>
</div>
