:host {
  display: block;
  width: 100%;
  .thumbnail-list {
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
    .thumbnail-link {
      display: block;
      float: left;
      width: 31%;
      height: 0;
      padding-bottom: 31%;
      position: relative;
      border: 1px solid #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      flex: 0 0 auto;
      &:first-child {
        margin-right: 3.5%
      }
      &:last-child {
        float: right;
      }
      span {
        position: absolute;
        bottom: 3px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: #fff;
        z-index: 2;
        font-size: 12px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
        text-transform: uppercase;
      }
    }
  }
  .events-carousel-container {
    margin: 10px auto;
    .carousel-item {
      text-align: center;
    }
    .event-image {
      display: block;
      width: 100%;
      height: 29vh;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
